$borderRadius: 5px;

.cocktail-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-decoration: none;
  color: inherit;
  transition: 0.2s transform;

  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    transform: translateY(-5px);
  }

  .cocktail-card__content {
    padding: 10px;
  }

  .cocktail-card__thumbnail {
    height: 200px;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;

      border-bottom-left-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
    }
  }
}
