@import "../../common.scss";

.cocktail-card {
  box-shadow: $boxShadow;
  text-decoration: none;
  color: inherit;
  border-radius: $borderRadius;
  transition: 0.2s transform;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    transform: translateY(-5px);
  }

  .cocktail-card-content {
    padding: 10px;
  }

  .cocktail-card-thumbnail {
    height: 200px;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;

      border-bottom-left-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
    }
  }
}
